.Editor h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* 감정 리스트 */
.Editor .emotion_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 3%;
}

/* 입력 버튼 일기장 꾸미기 */
.Editor input,
textarea {
  border: none;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Gaegu', cursive;
}

/* 일기장 */
.Editor textarea {
  width: 90%;
  min-height: 150px;
}

/* 하단 버튼 */
.Editor .bottom {
  margin: 8px;
  display: flex;
  justify-content: space-between;
}
